@font-face {
  font-family: "Caveat";
  src: url("../assets/fonts/Caveat-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
}
::selection {
  background-color: #d59b9b;
  color:rgb(255, 249, 240);
}

/*Basic Site-Design-Settings*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
body {
  padding: 20px;
  box-sizing: border-box;
}

/*Main-Box*/
.box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  background-color: rgb(203, 79, 79);

  background-image:
    radial-gradient(rgba(255, 255, 255, 0.035) 0.7px, transparent 0.7px),
    /*radial-gradient = small gradient, starting from the center. 
    Here: creates small white dots (255, 255,255 is white).*/
    radial-gradient(rgba(0, 0, 0, 0.035) 0.7px, transparent 0.7px);
    /*Now, we add contrast to avoid the texture 
    to feel like a regular dot-pattern*/

  background-size: 3px 3px, 5px 5px;  /*= pattern size (both layers)*/
  background-position: 0 0, 1px 2px;  /*= pattern position (both layers)*/

  border: 1px solid #ddd;
  position: relative;

  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: clamp(30px, 8vh, 100px) 20px;
}

/*--------------------------------------------------------*/

/*Text-Styles*/
h1 {
  font-size: 2rem;
  text-align: center;
  color: black;
  margin: 0;
}

h2 {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  color: black;
  margin: 17px 0 0;
}

/*Dividing line*/
hr {
  border: 1px solid black;
  width: 180px;
  margin: 17px auto;
}

/*Text columns*/
.text-columns {
  text-align: justify;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8%;

  width: min(600px, 100%);
  margin: 9px auto 17px;

  color: black;
}

@media (max-width: 600px) { /*Mobile-Devices*/
      .text-columns {
        grid-template-columns: 1fr; /*Aligns the text columns underneath each other*/
        gap: 20px;
      }
    }

/*--------------------------------------------------------*/


/*Projects*/
.projects {
  display: grid;
  width: min(590px, 100%);

  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  margin: 17px auto 0;

    @media (max-width: 700px) {
      .projects {
        grid-template-columns: 1fr;
        width: min(300px, 100%);
      }
    }
}

.project {
  aspect-ratio: 1.7/1;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  outline: 2px solid black;
  outline-offset: 2px;

  border-radius: 10px;
}

.project img { 
  width: 95%; 
  height: 95%;

  object-fit: cover; 

  border-radius: 10px;
}

/*--------------------------------------------------------*/

.contact p {
  margin: 0;
}

.contact {
  font-family: "Caveat";
  font-size: 1.5rem;

  font-weight: 1000;
  text-align: center;

  padding-top: 24px;
}

.column-contact {
  font-family: "Caveat";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;

  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8%;

  max-width: 700px;
  margin: 0 auto 17px;
  margin-top: 15px;

  color: black;
  padding-left: 20px;
}

/*--------------------------------------------------------*/

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #d59b9b;
  text-decoration: underline;
}

.uni-due {
  color: black;
  text-decoration: none;
}

a.uni-due:hover {
  color: #d59b9b;
  text-decoration: none;
}

/*--------------------------------------------------------*/

/*
.comment {
  width: min(600px, 100%);
  font-family: "Caveat";
  font-size: 1.2rem;
  font-weight: 200;
}

.comment .p1,
.comment .p2,
.comment .p3 {
  text-align: right;
  margin: 0 0 15px auto;
  max-width: 150px;
}
*/

/*INTERESTING COLORS/FONTS/STYLES:
- background-color:rgb(132, 103, 228);
- 
*/