/*Basic Site-Design-Settings*/
body {
  font-family: Georgia, serif;
  background-color:rgb(255, 249, 240);
  color: #333;
  
  margin: 0;
  padding: 20px;
}

/*Main-Box*/
.box {
  min-height: calc(100vh - 40px);

  background-color:rgb(203, 79, 79);
  border: 1px solid #ddd;
}

/*Header-Styles*/
h1 {
  font-size: 2.5rem;
  text-align: center;

  padding-top: 200px;
}

h2 {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;

  text-align: center;
}

/*Dividing line*/
hr {
  border: 1px solid #333;
  width: 20%;
  margin: 30px auto;
}

.text-columns {
  text-align: justify;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8%;

  max-width: 600px;
  margin: 35px auto;
}



/*INTERESTING COLORS/FONTS/STYLES:*/

/*
background-color:rgb(132, 103, 228);


*(