@font-face {
  font-family: "Caveat";
  src: url("../assets/fonts/Caveat-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
}
::selection {
  background-color: #d59b9b;
  color:rgb(255, 249, 240);
}
/*Basic Site-Design-Settings*/
body {
  font-family: "Georgia", serif;
  background-color:rgb(255, 249, 240);
  color: #333;
  
  margin: 0;
  padding: 20px;
}

/*Main-Box*/
.box {
  min-height: calc(100vh - 40px);

  background-color:rgb(203, 79, 79);
  border: 1px solid #ddd;
}


/*--------------------------------------------------------*/

/*Text-Styles*/
h1 {
  font-size: 2.5rem;
  text-align: center;

  padding-top: 200px;
}

h2 {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;

  text-align: center;
}

/*Dividing line*/
hr {
  border: 1px solid #333;
  width: 180px;
  margin: 30px auto;
}

/*Text columns*/
.text-columns {
  text-align: justify;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8%;

  max-width: 600px;
  margin: 35px auto;
}

/*--------------------------------------------------------*/


/*Projects*/
.projects {
  display: grid;
  max-width: 590px;

  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  margin: 35px auto 0;
}

.project {
  aspect-ratio: 1.7/1;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  outline: 2px solid #333;
  outline-offset: 2px;

  border-radius: 10px;
}

.project img { 
  width: 95%; 
  height: 95%;

  object-fit: cover; 

  border-radius: 10px;
}

/*--------------------------------------------------------*/
.contact p {
  margin: 0;
}

.contact {
  font-family: "Caveat";
  font-size: 1.5rem;

  font-weight: 1000;
  text-align: center;

  padding-top: 35px;
  margin-bottom: 10px;
}

.column-contact {
  font-family: "Caveat";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;

  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8%;

  max-width: 600px;
  margin: 0 auto 35px;
  margin-top: 15px;
}

/*--------------------------------------------------------*/

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #d59b9b;
  text-decoration: underline;
}

.uni-due {
  color: #333;
  text-decoration: none;
}

a.uni-due:hover {
  color: #d59b9b;
  text-decoration: none;
}

/*--------------------------------------------------------*/

/*
.comment{
  font-family: "Caveat";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 200;
}

.comment .p1 {
  text-align: right;
  margin-bottom: 15px;

  text-align: right;
  margin-left: 700px;
  margin-right: 0px;

  max-width: 150px;
}
  .comment .p2 {
  text-align: right;
  margin-bottom: 15px;

  text-align: right;
  margin-left: 700px;
  margin-right: 0px;

  max-width: 150px;
}
  .comment .p3 {
  text-align: right;
  margin-bottom: 15px;

  text-align: right;
  margin-left: 700px;
  margin-right: 0px;

  max-width: 150px;
}
*/

/*INTERESTING COLORS/FONTS/STYLES:
- background-color:rgb(132, 103, 228);
- 
*/